{#
  /**
   * @file
   * Theme override to present all user data.
   *
   * This template is used when viewing a registered user's page,
   * e.g., example.com/user/123. 123 being the user's ID.
   *
   * Available variables:
   * - content: A list of content items. Use 'content' to print all content, or
   *   print a subset such as 'content.field_example'. Fields attached to a user
   *   such as 'user_picture' are available as 'content.user_picture'.
   * - attributes: HTML attributes for the container element.
   * - user: A Drupal User entity.
   *
   * @see template_preprocess_user()
   */
  #}
  <article{{ attributes.addClass('profile') }}>

    {% if user.field_iq_user_base_profile_pic is not empty %}
      <p><strong>{{ 'Profile picture'|t }}</strong></p>
      {% include '@iq_barrio/includes/responsive-image.html.twig' with {
        'image' : user.field_iq_user_base_profile_pic.0.entity.field_media_image.0.entity.uri.value,
        'template' : 'image_standard',
        'sizes': {'1200px':'300px','768px':'300px','300px':'150px'},
        'attributes' : {
          alt: user.name.value,
          title: user.name.value,
        }
      } %}
    {% endif %}

    {% if user.field_iq_user_base_address is not empty %}
      <p><strong>{{ 'Full name'|t }}</strong></p>
      <p>{{ user.field_iq_user_base_address.0.given_name }} {{ user.field_iq_user_base_address.0.family_name }}</p>
      <p><strong>{{ 'Address'|t }}</strong></p>
      <span>{{ user.field_iq_user_base_address.0.address_line1 }},</span><br />
      <p>{{ user.field_iq_user_base_address.0.country_code }} {{ user.field_iq_user_base_address.0.postal_code }} {{ user.field_iq_user_base_address.0.locality }}</p>
    {% endif %}

    <p><strong>{{ 'Username'|t }}</strong></p>
    <p>{{ user.name.value }}</p>

    <p><strong>{{ 'E-mail address'|t }}</strong></p>
    <p><a href="mailto:{{ user.mail.value }}" title="{{ user.name.value }}'s {{ 'E-mail address'|t }}">{{ user.mail.value }}</a></p>

    {% if user.field_iq_user_base_position is not empty %}
      <p><strong>{{ 'Position'|t }}</strong></p>
      <p>{{ user.field_iq_user_base_position.0.value }}</p>
    {% endif %}

    {% if user.field_iq_user_base_gender is not empty %}
      <p><strong>{{ 'Gender'|t }}</strong></p>
      <p>{{ user.field_iq_user_base_gender.0.value }}</p>
    {% endif %}

    {% if user.field_iq_user_base_phone is not empty %}
      <p><strong>{{ 'Phone number'|t }}</strong></p>
      <p><a href="tel:{{ user.field_iq_user_base_phone.0.value }}" title="{{ user.name.value }}'s {{ 'Phone number'|t }}">{{ user.field_iq_user_base_phone.0.value }}</a></p>
    {% endif %}

    {% if user.field_iq_user_base_contact_link is not empty %}
      <p><strong>{{ 'Contact link'|t }}</strong></p>
      <p><a href="{{ user.field_iq_user_base_contact_link.0.uri }}" title="{{ user.name.value }}'s {{ 'Contact link'|t }}">{{ user.field_iq_user_base_contact_link.0.title }}</a></p>
    {% endif %}

    <p><strong>{{ 'Account created'|t }}</strong></p>
    <p>{{ created }}</p>

  </article>
